<h1>Emails#index</h1>
<br>
<div class="row container-fluid mx-2">
  <table class="table col-md-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">List of emails</th>
      </tr>
    </thead>
    <tbody>
      <%@all_emails.each do |email|%>
        <tr class="email-select
          <%unless email.read%>
            email_unread
          <%end%>
        " id="<%=email.id%>-email-select">
          <th scope="row"><%=email.id%></th>
          <td><%=link_to email.object, email_path(email), remote: true %></td>
        </tr>
      <%end%>
    </tbody>
  </table>

  <table class="table col-md-7">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Current email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="email-content"></td>
      </tr>
    </tbody>
  </table>
</div>
